
<article class="listing">
  <h3>{{claim.claimId}}</h3>
  <div class="detail owner">
    <span>Insured Id:</span> {{claim.insuredId}}
  </div>
  <div class="detail type">
    <span>Claim Status:</span> {{claim.claimStatus}}
  </div>
  <div class="detail location">
    <span>Policy Number:</span> {{claim.policyNumber}}
  </div>
  <div class="detail bedrooms">
    <span>Edit Indicator:</span> {{claim.editIndicator}}
  </div>
</article>
